---
import BaseLayout from "../../layout/BaseLayout.astro"
---

<BaseLayout>
    <div class="card-container">
        <div class="card">
    <div class="image-sec">
        <img src="Think Digital.jpeg" alt="">
        <div class="com-title">
        <h4>Think Digital Community</h4>
        <h4 class="sub-title">(aka Teedians Community)</h4>
        </div>
    </div>
    <div class="content-sec">
        <div class="designation">
            <h2>Community Manager</h2>
        </div>
        <hr>
        <div class="description">
        <p>Made an Non-Judgemental space to help students build their initiatives with the support , helped them to build their identity , network , exposure , awareness. Most people felt confident after joining here , the transformation is still counting !</p>
        </div>
     <!--    <button class="btn">
            <div class="back">
                
            </div>
            <div class="know-more-btn">
                Know More
            </div>
        </button> -->
    </div>
  
</div>
<div class="card">
    <div class="image-sec">
        <img src="MTS.png" width="210px" alt="">
        <div class="com-title">
        <h4 class="title">MTS Community</h4>
        
        </div>
    </div>
    <div class="content-sec">
        <div class="designation">
            <h2>Founder</h2>
        </div>
        <hr>
        <div class="description">
            <p>Enabled a platform for students to showcase themselves in different activities , we transformed the student from beginner into confident in their respective field</p>
        </div>
     <!--    <button class="btn">
            <div class="back">
                
            </div>
            <div class="know-more-btn">
                Know More
            </div>
        </button> -->
    </div>
  
</div>
    </div>

</BaseLayout>
