---
import Nav from "./Nav.astro"
---

<header>
    <Nav />
    <div class="names">
        <h1 class="name">Shifan</h1>
    <h2 class="designation">Developer | Community Builder</h2>
    <div class="para">
        <p>
            I'm a Frontend Developer with hands-on experience in React, Astro, and Tailwind CSS. I specialize in building fast, modern, and responsive websites that help my clients establish a strong digital presence.
        </p>
    <p>
        Beyond development, I'm deeply passionate about community building. I mentor and guide students to build their personal identity, empowering them to step into the digital world with confidence and clarity.
    </p>
    
    </p>
    <p>
        
    Whether it's crafting impactful websites or creating empowering spaces for learners—I'm here to help build, uplift, and grow your brand.
    </p>
    
    </div>
  
</div>
    
</header>
