---

---
<nav class="nav-links">
    <div class="logo">
        Sh.
    </div>
    <ul class="nav-items">
        <li>
            <a href="./">shif</a>
        </li>
        <li>
           <a href="./Milestones"> milestones</a>
        </li>
        <li>
            <a href="./Communities">communities</a>
        </li>
    </ul>
</nav>