@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Hebrew:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Noto+Sans+Georgian:wght@100..900&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playpen+Sans+Hebrew:wght@100..800&family=Shadows+Into+Light&display=swap');
body{
    background-color: black;
    color: white;
}


.nav-items{
    display: flex;
    list-style: none;
    gap: 10px;

}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 5px;
    padding: 3px;
    border: solid white 2px;
    border-radius: 10px;
}

.logo {
    font-family: "Playpen Sans Hebrew", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style:normal;
  }
.nav-items  a{
    color: white;
    text-decoration: none;

}
.nav-items a:hover{
    color: rgb(63, 63, 63);
}
 /* Header */
 .names{
    
    margin-left: 25%;
    margin-top: 5rem;
   
   
 } 
 .name{
    line-height: 0.6;
    margin-bottom: 0;
    font-size: 2.3rem;
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
 }

 .designation{
    font-family: "Playpen Sans Hebrew", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
   
 }

p{
    font-family: 'Lato', sans-serif;
    
 }
 .names p{
    font-weight: 350;
 }
 /* Footer */
 footer{
  
 }
 .icons{
   
    
    display: flex;
   
    flex-wrap: wrap;

    gap: 5px;
    margin-left: 23.75%;
 }

@media (max-width:768px){
    .icons{
        margin-left: 23%;
    }
}
 .ico{
    width: 200px;
    display: flex;
    align-items: center;
 }

 .para p {
    width: 80%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  
    overflow: hidden;
}

header,footer{
    margin-right: 5%;
}

/* page: communities */
.card{
    border: solid ;
    
    display: flex;
    gap: 8px;
    width: auto;
    margin-top: 4rem;
    
}
.com-title{
    margin: 0.7rem;
}
.com-title h4{
    margin: 0%;
}
.sub-title{
    font-weight: 100;
}
/* .btn{
    background-color: rgb(230, 0, 0);
    color: white;
    padding: 3px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}
.back{
    padding: ;
    background-color: white;
} */